$light-brown: #e8e6d7;
$medium-brown: #cbbca5;
$dark-blue: #152a6a;
$med-blue: #395099;
$light-blue: #3a2bed0;
$very-light-blue: #cee0f2;


body {
	font-family:'Oswald', sans-serif;
}

h1{
	color: #152a6a;
	margin: 30px;
}

h2 {
	margin: 30px;
	color: #cbbca5;
}

/*ul li{
	display:inline;
}*/

.second p {
	color: black;
	font-weight:300;
	line-height:1.6;
	text-indent:20px;
	margin:20px 30px ;

}

.b1 {
	background-color: #e8e6d7;
	color: #152a6a;
}
.b2 {
	background-color: #cbbca5;
}
.b3 {
	background-color: #152a6a;
}
.b4 {
	background-color: #395099;
}
.b5 {
	background-color: #a2bed0;
}
.b6 {
	background-color: #cee0f2;
}