.grey {
    background-color: white;
    border: 1px solid darkgrey;
    padding:10px;
    
}

.pad {
    padding: 15px;
}
.pink {
    background-color: lightpink;
    border: 1px solid darkgrey;
    
}
*{
    border: 1px dashed red;
}